<h1>Add Person</h1>
<div class="add-square">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="person.name" required>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" [(ngModel)]="person.age" required>

        <label for="work">Work:</label>
        <input type="text" id="work" name="work" [(ngModel)]="person.work" required>

        <label for="salary">Salary:</label>
        <input type="number" id="salary" name="salary" [(ngModel)]="person.salary" required>

        <button type="submit">Submit</button>
    </form>

</div>

<div *ngIf="notificationMessage" class="notification">
    {{ notificationMessage }}
</div>