.square-add {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    background-color: black;
    height: 40px;
    width: 250px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

button a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    transform: scale(1.1);
}
